.bgContact{
    width: 100%;
    height: 100%;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    box-sizing: border-box;
}

.contactContainer{
    width: max(300px, 60%);
    height: 100%;
    background-color: lightgreen;
    border-radius: 10px;

}